In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Files to load
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

In [3]:
city_data_df = pd.read_csv(city_data_to_load)
city_data_df

                city  driver_count   type
0        Richardfort            38  Urban
1       Williamsstad            59  Urban
2        Port Angela            67  Urban
3         Rodneyfort            34  Urban
4        West Robert            39  Urban
..               ...           ...    ...
115     Bradshawfurt             7  Rural
116     New Ryantown             2  Rural
117   Randallchester             9  Rural
118      Jessicaport             1  Rural
119  South Saramouth             7  Rural

[120 rows x 3 columns]

In [4]:
ride_data_df = pd.read_csv(ride_data_to_load)
ride_data_df

                    city                 date   fare        ride_id
0     Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1     South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2     Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3             Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4             South Jack  2019-03-06 04:28:35  34.58  3908451377344
...                  ...                  ...    ...            ...
2370         Michaelberg  2019-04-29 17:04:39  13.38  8550365057598
2371     Lake Latoyabury  2019-01-30 00:05:47  20.76  9018727594352
2372         North Jaime  2019-02-10 21:03:50  11.11  2781339863778
2373        West Heather  2019-05-07 19:22:15  44.94  4256853490277
2374          Newtonview  2019-04-25 10:20:13  55.84  9990581345298

[2375 rows x 4 columns]

In [5]:
#get coloymns and rows that arent null
city_data_df.count()

city            120
driver_count    120
type            120
dtype: int64

In [8]:
city_data_df.isnull().sum()

TypeError: 'Series' object is not callable

In [9]:
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [10]:
city_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [11]:
sum(city_data_df["type"] == "Urban")

66

In [14]:
sum(city_data_df["type"] == "Suburban")

36

In [15]:
sum(city_data_df["type"] == "Rural")

18

In [16]:
#inspexting ride data frame

ride_data_df.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [18]:
ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [19]:
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [20]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the DataFrame
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban